<a href="https://colab.research.google.com/github/Adnan4555/ADNAN-4555/blob/DATA-SCIENCE/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#define dictionary

In [ ]:
datas = {
    "name" : ["alice","bob","charlie"],
    "age" : [25,30,35],
    "city" : ["london","paris","berlin"]
}

In [ ]:
dict1 = pd.DataFrame(datas)

In [ ]:
print(dict1)

      name  age    city
0    alice   25  london
1      bob   30   paris
2  charlie   35  berlin

#dataframe using list

In [ ]:
data1  = [
    ["alice",25,"london"],
    ["bob",30,"paris"],
    ["charlie",35,"berlin"]
]

In [ ]:
columns = ["name","age","city"]

In [ ]:
list1 = pd.DataFrame(data1,columns = columns)

In [ ]:
print(list1)

      name  age    city
0    alice   25  london
1      bob   30   paris
2  charlie   35  berlin

#creating the dataframe using specify column names

In [ ]:
list2 = pd.DataFrame(data1,columns = ["name","age","city"])

In [ ]:
print(list2)

      name  age    city
0    alice   25  london
1      bob   30   paris
2  charlie   35  berlin

#indexing the dataframe using .loc function

In [ ]:
row_0 = list2.loc[0]

In [ ]:
print(row_0)

name     alice
age         25
city    london
Name: 0, dtype: object

#to access more rows (use extra square brackets)

In [ ]:
rows_1 = list2.loc[[0,1]]

In [ ]:
print(rows_1)

    name  age    city
0  alice   25  london
1    bob   30   paris

#accessing the columns

In [ ]:
columns1 = list2.loc[:,"name"]

In [ ]:
print(columns1)

0      alice
1        bob
2    charlie
Name: name, dtype: object

#accessing more columns

In [ ]:
columns2 = list2.loc[:,["name","age"]]

In [ ]:
print(columns2)

      name  age
0    alice   25
1      bob   30
2  charlie   35

#accessing the rows and columns

In [ ]:
age1 = list2.loc[0,"age"]

In [ ]:
print(age1)

25

#accessing the first two rows

In [ ]:
rows2 = list2.loc[0:1,["name","age"]]

In [ ]:
print(rows2)

    name  age
0  alice   25
1    bob   30

#access a specifiv row by index : to access row by its intger position

In [ ]:
row2 = list2.iloc[0]
print(row2)

name     alice
age         25
city    london
Name: 0, dtype: object

In [ ]:
rows3 = list2.iloc[0:2]
print(rows3)

    name  age    city
0  alice   25  london
1    bob   30   paris

In [ ]:
all1 = list2.iloc[:,0]

In [ ]:
print(all1)

0      alice
1        bob
2    charlie
Name: name, dtype: object

In [ ]:
print(list2)

      name  age    city
0    alice   25  london
1      bob   30   paris
2  charlie   35  berlin

In [ ]:
all2 = list2.iloc[:,0:2]
print(all2)

      name  age
0    alice   25
1      bob   30
2  charlie   35

#dataframe attributes

In [ ]:
print(datas)

{'name': ['alice', 'bob', 'charlie'], 'age': [25, 30, 35], 'city': ['london', 'paris', 'berlin']}

In [ ]:
print(dict1)

      name  age    city
0    alice   25  london
1      bob   30   paris
2  charlie   35  berlin

In [ ]:
print(dict1.shape)

(3, 3)

In [ ]:
print(dict1.columns)

Index(['name', 'age', 'city'], dtype='object')

In [ ]:
print(dict1.dtypes)

name    object
age      int64
city    object
dtype: object

In [ ]:
print(dict1.values)

[['alice' 25 'london']
 ['bob' 30 'paris']
 ['charlie' 35 'berlin']]

In [ ]:
a = dict1.ndim

In [ ]:
print(a)

2

In [ ]:
s = dict1.size
print(s)

9

#transpose

In [ ]:
transpose = dict1.T
print(transpose)

           0      1        2
name   alice    bob  charlie
age       25     30       35
city  london  paris   berlin

In [ ]:
df = pd.read_csv('/content/train (1).csv')

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df.to_excel('train.xlsx')

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#for information

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
type(df["Age"])

pandas.core.series.Series

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
s

a    0.029967
b   -0.568716
c   -0.895800
d    0.790006
e    1.060040
dtype: float64

In [ ]:
dict = {"b":2,"a":4,"v":5}
pd.Series(dict)

b    2
a    4
v    5
dtype: int64

In [ ]:
pd.Series(dict,index = ["a","b","v"])

a    4
b    2
v    5
dtype: int64

In [ ]:

dataframe1 = pd.DataFrame(
    {
        "A":["A0","A1","A2","A3"],
        "B":["B0","B1","B2","B3"],
        "C":["C0","C1","C2","C3"],
        "D":["D0","D1","D2","D3"]
    },
    index = [0,1,2,3]
)

dataframe2 = pd.DataFrame(
    {
        "A":["A4","A5","A6","A7"],
        "B":["B4","B5","B6","B7"],
        "C":["C4","C5","C6","C7"],
        "D":["D4","D5","D6","D7"]
    },
    index = [4,5,6,7]
)

dataframe3 = pd.DataFrame(
    {
        "A":["A8","A9","A10","A11"],
        "B":["B8","B9","B10","B11"],
        "C":["C8","C9","C10","C11"],
        "D":["D8","D9","D10","D11"]
    },
    index = [8,9,10,11]
)

In [ ]:
all = [dataframe1,dataframe2,dataframe3]

In [ ]:
all1 = pd.concat(all)

In [ ]:
all1

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
dataframe4 = pd.DataFrame(
    {
        "B":["B2","B3","B6","B7"],
        "D":["D2","D3","D6","D7"],
        "F":["F2","F3","F6","F7"]
    },
    index=[2,3,6,7]
)

In [ ]:
all2  = pd.concat([dataframe1,dataframe4],axis = 1)

In [ ]:
all2

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [ ]:
x1 = df[["Age","Name"]]

In [ ]:
type(x1)

pandas.core.frame.DataFrame

In [ ]:
x1.shape

(891, 2)

In [ ]:
above_35 = df[df["Age"]> 35]

In [ ]:
above_35

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q